.sidebar {
  margin: 12px;
  width: 30%;
  float: left;
  border: 10px solid red;
  background-color: gray;

}

.main {
  font-size: x-large;
  float: center;
}

img {
  float: center;
  height: 200px;
  width: 400px;
}
